@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body {
    background-color: #f1f1f1;
    color: #0f141e;
    /* font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif; */
    font: normal 16px 'Roboto', sans-serif;
}
h1 {
    color:blue;
}
.avatar {
    width: 200px;
    border-radius: 30px;
}
.info p {
color:chocolate;
margin: 0;
font-style: italic;
font-weight: bold;

.container {

    max-width: 750px;
    margin: auto;
}

}
.social {
    background: space gray;
}